@font-face {font-family: 'Metro';
    src: url('../fonts/Metro/Metro.eot?#iefix') format('embedded-opentype'),url('../fonts/Metro/Metro.otf') format('opentype'),url('../fonts/Metro/Metro.woff') format('woff'),url('../fonts/Metro/Metro.ttf') format('truetype'),url('../fonts/Metro/Metro.svg#Metro') format('svg');
    font-weight: normal;
    font-style: normal;}
