.page-title{
    font-size:2rem;
    margin-bottom: 2rem;
    &__wrap {
        display: flex;
        align-items: center;
        margin-bottom: 1.5rem;
        justify-content: space-between;
    }
}
